.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toast {
  animation: baynhay 5s ease infinite;
  background-color: #030303;
}
.toast-info {
  animation: baynhay 5s ease infinite;
  background-color: #3276b1;
}
.toast-info2 {
  animation: baynhay 5s ease infinite;
  background-color: #2f96b4;
}
.toast-error {
  animation: baynhay 5s ease infinite;
  background-color: #bd362f;
}
.toast-success {
  background-color: #51a351;

  animation: baynhay 5s ease infinite;
}

.toast-warning {
  background-color: #f89406;
  animation: baynhay 5s ease infinite;
}

@keyframes baynhay {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
